In [1]:
import pandas as pd
import pandas_datareader as pdr
import numpy as np

In [2]:
dt_start = '2006-01-10'
df = pdr.get_data_fred(['DTWEXEMEGS', 'DCOILBRENTEU'], start=dt_start)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4175 entries, 2006-01-10 to 2022-01-10
Freq: B
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DTWEXEMEGS    4012 non-null   float64
 1   DCOILBRENTEU  4049 non-null   float64
dtypes: float64(2)
memory usage: 97.9 KB

In [3]:
df.index.nunique()

4175

In [4]:
df.replace(0.0, np.NaN, inplace=True)
df.fillna(method='ffill', axis=0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4175 entries, 2006-01-10 to 2022-01-10
Freq: B
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DTWEXEMEGS    4175 non-null   float64
 1   DCOILBRENTEU  4175 non-null   float64
dtypes: float64(2)
memory usage: 97.9 KB

In [5]:
df1 = pdr.get_data_moex('USD000UTSTOM', start=dt_start)
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7366 entries, 2016-10-10 to 2022-01-14
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BOARDID    7366 non-null   object
 1   CLOSE      7355 non-null   float64
 2   HIGH       7366 non-null   float64
 3   LOW        7366 non-null   float64
 4   NUMTRADES  7366 non-null   int64
 5   OPEN       7355 non-null   float64
 6   SECID      7366 non-null   object
 7   SHORTNAME  7366 non-null   object
 8   VOLRUR     7366 non-null   float64
 9   WAPRICE    4090 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 633.0+ KB

In [6]:
df1.BOARDID.value_counts()

CETS    4090
CNGD    2537
LICU     727
FUTN       6
FUTS       6
Name: BOARDID, dtype: int64

In [7]:
df1 = df1[df1.BOARDID == 'CETS']
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4090 entries, 2006-01-10 to 2022-01-14
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BOARDID    4090 non-null   object
 1   CLOSE      4090 non-null   float64
 2   HIGH       4090 non-null   float64
 3   LOW        4090 non-null   float64
 4   NUMTRADES  4090 non-null   int64
 5   OPEN       4090 non-null   float64
 6   SECID      4090 non-null   object
 7   SHORTNAME  4090 non-null   object
 8   VOLRUR     4090 non-null   float64
 9   WAPRICE    4090 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 351.5+ KB

In [8]:
df1.index.nunique()

4017

In [9]:
df1.drop_duplicates(inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4017 entries, 2006-01-10 to 2022-01-14
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BOARDID    4017 non-null   object
 1   CLOSE      4017 non-null   float64
 2   HIGH       4017 non-null   float64
 3   LOW        4017 non-null   float64
 4   NUMTRADES  4017 non-null   int64
 5   OPEN       4017 non-null   float64
 6   SECID      4017 non-null   object
 7   SHORTNAME  4017 non-null   object
 8   VOLRUR     4017 non-null   float64
 9   WAPRICE    4017 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 345.2+ KB

In [10]:
df1.CLOSE.replace(0.0, np.NaN, inplace=True)
df1.CLOSE.fillna(method='ffill', axis=0, inplace=True)

In [11]:
df = df.join(df1.CLOSE)
df.head()

            DTWEXEMEGS  DCOILBRENTEU   CLOSE
DATE
2006-01-10    100.0931         62.32  28.510
2006-01-11    100.0905         61.54  28.465
2006-01-12     99.8573         62.95  28.440
2006-01-13    100.0169         61.58  28.465
2006-01-16    100.0261         62.34  28.285

In [12]:
df.rename(columns={'DTWEXEMEGS': 'dollar', 'DCOILBRENTEU': 'brent', 'CLOSE': 'ruble'}, inplace=True)
df.tail()

              dollar  brent    ruble
DATE
2022-01-04  124.4148  79.39  75.3625
2022-01-05  124.2755  80.60  76.8000
2022-01-06  124.5636  81.99  76.3175
2022-01-07  124.3154  82.28  75.7500
2022-01-10  124.3154  81.56  75.0000

In [13]:
ls_ind = ['IMOEX', 'RGBITR', 'RUCBITR']
for el_ind in ls_ind:
  df1 = pdr.get_data_moex(el_ind, start=dt_start)
  df1 = df1[['CLOSE']]
  df1.drop_duplicates(inplace=True)
  df1.rename({'CLOSE': el_ind}, axis=1, inplace=True)
  df = df.join(df1)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4175 entries, 2006-01-10 to 2022-01-10
Freq: B
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dollar   4175 non-null   float64
 1   brent    4175 non-null   float64
 2   ruble    3992 non-null   float64
 3   IMOEX    3921 non-null   float64
 4   RGBITR   3597 non-null   float64
 5   RUCBITR  3563 non-null   float64
dtypes: float64(6)
memory usage: 388.3 KB

In [14]:
df.fillna(method='ffill', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4175 entries, 2006-01-10 to 2022-01-10
Freq: B
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dollar   4175 non-null   float64
 1   brent    4175 non-null   float64
 2   ruble    4175 non-null   float64
 3   IMOEX    4175 non-null   float64
 4   RGBITR   4175 non-null   float64
 5   RUCBITR  4175 non-null   float64
dtypes: float64(6)
memory usage: 388.3 KB

In [15]:
df.to_csv('/content/drive/MyDrive/usdrub1.csv')