In [45]:
import pandas as pd
import pandas_datareader as pdr
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler

In [46]:
dt_start = '2006-01-10'
df = pdr.get_data_fred(['DTWEXEMEGS', 'DCOILBRENTEU'], start=dt_start)
df.replace(0.0, np.NaN, inplace=True)
df.fillna(method='ffill', axis=0, inplace=True)
df.rename(columns={'DTWEXEMEGS': 'dollar', 'DCOILBRENTEU': 'brent'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4185 entries, 2006-01-10 to 2022-01-24
Freq: B
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dollar  4185 non-null   float64
 1   brent   4185 non-null   float64
dtypes: float64(2)
memory usage: 98.1 KB

In [47]:
df1 = pdr.get_data_moex('USD000UTSTOM', start=dt_start)
df1 = df1[df1.BOARDID == 'CETS']
df1.drop_duplicates(inplace=True)
df1.replace(0.0, np.NaN, inplace=True)
df1.fillna(method='ffill', axis=0, inplace=True)

In [48]:
df1['result'] = (df1.CLOSE - df1.OPEN) / df1.HIGH
df1 = df1[['result']]
v_std = df1.result.std()
df1['cl'] = 0

In [49]:
df1.loc[df1.result > v_std * -2, 'cl'] = 1
df1.loc[df1.result > v_std * -1, 'cl'] = 2
df1.loc[df1.result > 0, 'cl'] = 3
df1.loc[df1.result > v_std, 'cl'] = 4
df1.loc[df1.result > v_std * 2, 'cl'] = 5
df1.cl.value_counts()

2    1662
3    1652
1     270
4     256
5     104
0      83
Name: cl, dtype: int64

In [50]:
df = df.join(df1.cl)
df.cl.fillna(method='ffill', axis=0, inplace=True)
df.cl = df.cl.astype('int8')
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4185 entries, 2006-01-10 to 2022-01-24
Freq: B
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dollar  4185 non-null   float64
 1   brent   4185 non-null   float64
 2   cl      4185 non-null   int8
dtypes: float64(2), int8(1)
memory usage: 262.2 KB

In [51]:
ls_ind = ['IMOEX', 'RGBITR', 'RUCBITR']
for el_ind in ls_ind:
  df1 = pdr.get_data_moex(el_ind, start=dt_start)
  df1 = df1[['CLOSE']]
  df1.drop_duplicates(inplace=True)
  df1.rename({'CLOSE': el_ind}, axis=1, inplace=True)
  df = df.join(df1)
df.fillna(method='ffill', axis=0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4185 entries, 2006-01-10 to 2022-01-24
Freq: B
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dollar   4185 non-null   float64
 1   brent    4185 non-null   float64
 2   cl       4185 non-null   int8
 3   IMOEX    4185 non-null   float64
 4   RGBITR   4185 non-null   float64
 5   RUCBITR  4185 non-null   float64
dtypes: float64(5), int8(1)
memory usage: 360.3 KB

In [52]:
y = df.cl
x = df.drop('cl', axis=1)

In [53]:
scaler = MinMaxScaler()
x_scaled = scaler.fit_transform(x)
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.1, shuffle=False)

In [54]:
model = LogisticRegression()
model.fit(x_train, y_train)
model.score(x_train, y_train)

0.4291024960169942

In [55]:
model.score(x_test, y_test)

0.44630071599045346

In [ ]:
y = df.cl[5:]
x = df.drop('cl', axis=1)[:-5]

In [ ]:
x = df.drop('cl', axis=1)[-5:]
x_scaled = scaler.transform(x)
pred = model.predict(x_scaled)
pred

array([2, 2, 2, 2, 2], dtype=int8)