In [1]:
# Объявление модулей
import pandas as pd
import numpy as np
import pandas_datareader as pdr

In [2]:
# Объявление переменных
beginDate = '1999-06-29'
df = pdr.get_data_moex('USD000000TOD', start=beginDate, end='2021-12-03')
df.head()

           BOARDID   SHORTNAME         SECID  ...  NUMTRADES        VOLRUR  WAPRICE
TRADEDATE                                     ...
1999-06-29    CURR  USDRUB_TOD  USD000000TOD  ...       1809  4.736137e+09  24.2240
1999-06-30    CURR  USDRUB_TOD  USD000000TOD  ...       2027  3.767813e+09  24.2099
1999-07-01    CURR  USDRUB_TOD  USD000000TOD  ...       1747  4.138444e+09  24.2137
1999-07-02    CURR  USDRUB_TOD  USD000000TOD  ...       1425  3.281991e+09  24.2887
1999-07-05    CURR  USDRUB_TOD  USD000000TOD  ...          0  0.000000e+00   0.0000

[5 rows x 10 columns]

In [3]:
df = df[['OPEN', 'HIGH', 'LOW', 'CLOSE']]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8902 entries, 1999-06-29 to 2021-12-03
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   OPEN    8891 non-null   float64
 1   HIGH    8902 non-null   float64
 2   LOW     8902 non-null   float64
 3   CLOSE   8891 non-null   float64
dtypes: float64(4)
memory usage: 347.7 KB

In [4]:
df.index.nunique()

5607

In [5]:
df.replace(0.0, np.nan, inplace=True)
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7758 entries, 1999-06-29 to 2021-12-03
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   OPEN    7758 non-null   float64
 1   HIGH    7758 non-null   float64
 2   LOW     7758 non-null   float64
 3   CLOSE   7758 non-null   float64
dtypes: float64(4)
memory usage: 303.0 KB

In [6]:
df.reset_index(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7758 entries, 0 to 7757
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TRADEDATE  7758 non-null   datetime64[ns]
 1   OPEN       7758 non-null   float64
 2   HIGH       7758 non-null   float64
 3   LOW        7758 non-null   float64
 4   CLOSE      7758 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 303.2 KB

In [7]:
df.rename(columns={'TRADEDATE': 'date', 'OPEN': 'open', 'HIGH': 'high', 'LOW': 'low', 'CLOSE': 'close'}, inplace=True)
df.head()

        date     open    high     low    close
0 1999-06-29  24.3000  24.350  24.200  24.2249
1 1999-06-30  24.2201  24.224  24.201  24.2100
2 1999-07-01  24.2100  24.220  24.202  24.2150
3 1999-07-02  24.2200  24.460  24.220  24.3500
4 1999-07-06  24.4000  24.550  24.300  24.4850

In [ ]:
df.to_csv('/content/drive/MyDrive/usdrub.csv', index=False)